@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Ubuntu&display=swap');


/* Targets all elements including pseudo */
*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 10px of 16px (browser's font size) 1rem = 10px  */
html {
    font-size: 62.5%;
}

li { list-style-type: none;}
a {text-decoration: none;}

/* Hides elements, readable by screen readers 
https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

body {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(
        to right,
        rgb(245, 186, 194),
        #f8dadf,
        rgb(245, 186, 194)
    );
    font-family: 'Nova Square', cursive;
    font-size: 1.6rem;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    -ms-overflow-style: none; /* Hide scrollbar for Edge */
    scrollbar-width: none;    /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Header Styling */
header {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    padding: .5em 0;
    background-color: rgba(239, 121, 138, .5);
}

h1 {
    font-size: 5rem;
    letter-spacing: 2px;
}

/* Footer Styling */
footer {
    width: 100%;
    height: 80px;
    padding: .5em .5em 0;
    margin-top: auto;
    font-size: 1.4rem;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;;
    color: #2D232E;
    background-color: rgba(239, 121, 138, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-links li {
    display: inline-block;
    font-size: 2rem;
    padding: 0 2.5em .5em;
}

.social-links a {
    color: #2D232E;
}
.social-links a:hover,
.social-links a:focus {
    color: rgb(75, 65, 134);
    cursor: pointer;
    transform: scale(1.2);
    transition: transform .15s;
}

/* ------------- */
/*   Home Page   */
/* ------------- */
.home {
    max-width: 350px;
    width: 300px;
    color: #20232E;
    text-align: center;
    margin: 1em auto;
}

.logo {
    display: block;
    width: 250px;
    margin: 0 auto 1.5em;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
}

.home > p {
    font-size: 2rem;
    margin-bottom: 1.5em;
}

input[type="text"] {
    max-width: 300px;
    padding: .75em;
    margin: .25em auto;
    background-color: rgba(147, 129, 255, .5);
    border-radius: 4px;
    border: none;
    font-size: 1.6rem;
    text-align: center;
    color: #2D232E;
}

input[type="text"]:hover,
input[type="text"]:focus {
    background-color: rgba(239, 121, 138, .3);
    border: none;
}

.input-label {
    font-size: 1.5rem;
    background-color: transparent;
}    

/* General Styling for all buttons */
.btn {
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(45, 35, 46, .5);
    cursor: pointer;
}

/* Styling for Start(Quizzify Me) and Results Buttons */
.btn-start, 
.btn-submit {
    color: #fff;
    background-color: #0E6BA8;
}

.btn-start {
    padding: .75em 1.75em;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.btn-start:hover,
.btn-start:focus {
    transform: scale(1.1);
    transition: transform 250ms;
    font-weight: 700;
    background-color: rgb(79, 151, 199);
    box-shadow: 0 4px 15px rgba(45, 35, 46, .8);
}

/* Styling for Error Messages */
.feedback {
    max-width: 300px;
    width: 250px;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 1.6rem;
    color: #f13f59;
    margin: .5em auto .75em;
}


/* ------------ */
/*     Quiz     */
/* ------------ */

/* The main container for the quiz */
.game-area {
    max-width: 800px;
    width: 85%;
    min-height: 490px;
    background-color: rgba(45, 35, 46, .9);
    font-family: 'Ubuntu', sans-serif;
    border-radius: 4px;
    padding: 1em;
    margin: 1em auto;
    box-shadow: 2px 10px 15px rgba(45, 35, 46, .5);
}

/* Question count and progress bar area styling */
.progress {
    width: 50%;
    height: 50px;
    margin: 1em auto 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Question Count */
.progress-txt {
    font-family: 'Nova Square', cursive;
    color: #B8EBD0;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;
}


/* Progress Bar */
.progress-outline {
    width: 100%;
    border: 2px solid rgba(29, 238, 127, .7);
    border-radius: 50px;
    box-sizing: border-box;
}

.progress-bar {
    width: 10%;
    height: 20px;
    background-color: rgba(29, 238, 127, .5);
    border-radius: 50px;
    overflow: hidden;
}

/* Quiz questions and answer options container */
.quiz-container {
    position: relative;
    width: 100%;
    min-height: 300px;
    margin: 1em auto 0;
    padding: 1em;
    color: #B8EBD0;
    text-align: center;
}

#quiz {
    height: fit-content;
   
}

/* Pagination for quiz questions and answer options */
.exhibit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
    display: none;
}

.active-exhibit {
    opacity: 1;
    z-index: 2;
    display: block;
}

/* Quiz Question styling */
.question {
    max-width: 525px;
    font-size: 2.75rem;
    margin: 0 auto .5em;
}

/* Quiz Answer options styling */
.answers {
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin: 0 auto;
}

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input/radio */
input[type="radio"] {
    position: relative;
    top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 50%;
    margin: 0 .75em;
    width: 1em;
    height: 1em;
    background-color: #b9aefa;
    transition: .2s all linear;
}

input[type="radio"]:checked {
    border: 6px solid #9381FF;
}

.radio-label {
    background-color: #9381FF;
    color: #2D232E;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: .25em;
    padding: .5em .75em;
    border-radius: 5px;
    cursor: pointer;
}

.radio-label:hover,
.radio-label:focus {
    background-color: rgb(181, 169, 250);
    box-shadow: 3px 4px 10px rgba(181, 169, 250, .5);
}

.radio-checked{
    background-color: #2472a7;
    color: #B8EBD0;
}

/* Error Message Styling */
.quiz-feedback {
    color: #f1919f;
    font-size: 1.8rem;
    text-align: center;
}

/* Previous, Next and Results Button container */
.controls {
    min-height: 50px;
    padding: .5em;
    margin-top: 1em;
}

/* Previous and Next Buttons styling */
.btn-nav--next {
    float: right;
}

.btn-nav {
    display: inline-block;
    color: #2D232E;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: #B8EBD0;
    padding: .5em 1em;
    box-shadow: 3px 3px 9px rgba(184, 235, 208, .4);
}

.btn-nav:hover,
.btn-nav:focus {
    background-color: #2D232E;
    color: #B8EBD0;
    border: 1px solid #B8EBD0;
}

/* Results Button Styling */
.btn-submit {
    padding: .5em 1em;
    font-size: 1.6rem;
    font-weight: 700;  
    letter-spacing: 2px;
    font-variant: small-caps;
    margin: 1em auto 0;  
}

.btn-submit:hover,
.btn-submit:focus {
    transform: scale(1.05);
    transition: transform 250ms ease-in-out;
    font-weight: 700;
    background-color: rgb(79, 151, 199);
    box-shadow: 0 4px 15px rgb(45, 35, 46);   
}


/* -------------- */
/*    Results     */
/* -------------- */

.result-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    padding: 1em;
}

.icon {
    width: 150px;
    background: linear-gradient(135deg,
    rgb(45, 35, 46),
    transparent);
    font-size: 5rem;
    padding: .5em;
    border: none;
    border-radius: 10px;
    box-shadow: 7px 6px 10px rgba(100, 8, 136, .8);
}

#trophy {
    color: rgb(238, 166, 12);
}

#medal {
    color: rgb(184, 235, 208);
}

#crying {
    color: rgb(255, 255, 255);
}

.result-area span {
    margin-bottom: 1.5em;
}

/* ------------------- */
/*    Media Queries    */
/*  ================== */

/* Screens wider than 375px */
@media only screen and (min-width: 375px) {
    .quiz-container {
        min-height: 275px;
    }
}

/* Screens wider than 425px */
@media only screen and (min-width: 425px) {
    .controls {
        padding: .5em 2.5em;
    }
}

/* Screens wider than 760px */
@media only screen and (min-width: 760px) {
    html {
        font-size: 100%;
    }

    header {
        height: 112px;
    }

    footer {
        height: 128px
    }

    .game-area {
        min-height: 760px;
        padding: 2em;
    }

    .progress {
        width: 60%;
    }

    .progress-bar{
        height: 30px;
    }

    .answers {
        width: 300px;
    }

    input[type="radio"] {
        margin: 0 .5em;
        width: 1.6em;
        height: 1.6em;
    }

    input[type="radio"]:checked {
        border: 8px solid #9381FF;
    }

    .quiz-container {
        min-height: 425px;
    }

    .result-area {
        padding: 0;
        margin: 2em 1em;
        line-height: 1.4;
    }

    .icon {
        width: 220px;
        margin-bottom: 0;

    }
}

/* Screens wider than 1024px */
@media only screen and (min-width: 1024px) {

    .game-area {
        width: 100%;
    }

    .progress {
        margin-bottom: 3em;
    }

    .quiz-container {
        min-height: 320px
    }

    .question {
        max-width: 525px;
        margin-bottom: 1em;
    }
    
    .answers {
        width: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: .5em;
    }

    .controls {
        margin-top: 2em;
    }
}